In [1]:
import pandas as pd 
dataset1_path = "../data/20240723/window1/dataset1.xlsx"
dataset2_path = "../data/20240723/window1/dataset2.json"

In [51]:
# Load the Excel file from the "DATA" sheet
df_excel = pd.read_excel(dataset1_path, sheet_name='DATA')

# Display the first few rows of the dataframe to understand its structure
print(df_excel.head())

    ORDER_ID   ORDER_TIME  (PST)  CITY_DISTRICT_ID  RPTG_AMT CURRENCY_CD  \
0  G0000001198        50127               1          1680.53      RMB
1  G0000001469        50127               2          8760.18      RMB
2  G0000000001        50128               3          7875.22      RMB
3  G0000001999        50132               4         10353.10      RMB
4  G0000000002        50132               5         11946.02      RMB

   ORDER_QTY
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0

In [57]:
import lux
lux.debug_info()
!jupyter nbextension install --py luxwidget
!jupyter nbextension enable --py luxwidget

Package Versions
----------------
               Version
        python        3.8.17
           lux         0.5.1
        pandas         2.0.3
     luxwidget        0.1.11
    matplotlib         3.7.4
        altair         5.3.0
       IPython        8.12.3
     ipykernel        6.29.5
    ipywidgets         8.1.3
jupyter_client         8.6.2
  jupyter_core         5.7.2
jupyter_server        2.14.2
    jupyterlab         4.2.4
      nbclient        0.10.0
     nbconvert        7.16.4
      nbformat        5.10.4
      notebook         7.2.1
     qtconsole not installed
     traitlets        5.14.3

Widget Setup
-------------
✅ Jupyter Notebook Running
❌ Failed to run 'jupyter nbextension list'
❌ WARNING: luxwidget is not enabled in Jupyter Notebook.
You may need to run the following code in your command line:
  jupyter nbextension install --py luxwidget
  jupyter nbextension enable --py luxwidget

usage: jupyter [-h] [--version] [--config-dir] [--data-dir] [--runtime-dir]
               [--paths] [--json] [--debug]
               [subcommand]

Jupyter: Interactive Computing

positional arguments:
  subcommand     the subcommand to launch

optional arguments:
  -h, --help     show this help message and exit
  --version      show the versions of core jupyter packages and exit
  --config-dir   show Jupyter config dir
  --data-dir     show Jupyter data dir
  --runtime-dir  show Jupyter runtime dir
  --paths        show all Jupyter paths. Add --json for machine-readable
                 format.
  --json         output paths as machine-readable json
  --debug        output debug information about paths

Available subcommands: dejavu events execute kernel kernelspec lab
labextension labhub migrate nbconvert notebook run server troubleshoot trust

Jupyter command `jupyter-nbextension` not found.
usage: jupyter [-h] [--version] [--config-dir] [--data-dir] [--runtime-dir]
               [--paths] [--json] [--debug]
               [subcommand]

Jupyter: Interactive Computing

positional arguments:
  subcommand     the subcommand to launch

optional arguments:
  -h, --help     show this help message and exit
  --version      show the versions of core jupyter packages and exit
  --config-dir   show Jupyter config dir
  --data-dir     show Jupyter data dir
  --runtime-dir  show Jupyter runtime dir
  --paths        show all Jupyter paths. Add --json for machine-readable
                 format.
  --json         output paths as machine-readable json
  --debug        output debug information about paths

Available subcommands: dejavu events execute kernel kernelspec lab
labextension labhub migrate nbconvert notebook run server troubleshoot trust

Jupyter command `jupyter-nbextension` not found.

In [58]:
df_excel

,ORDER_ID,ORDER_TIME (PST),CITY_DISTRICT_ID,RPTG_AMT,CURRENCY_CD,ORDER_QTY
0,G0000001198,50127,1,1680.53,RMB,1.0
1,G0000001469,50127,2,8760.18,RMB,1.0
2,G0000000001,50128,3,7875.22,RMB,1.0
3,G0000001999,50132,4,10353.10,RMB,1.0
4,G0000000002,50132,5,11946.02,RMB,1.0
...,...,...,...,...,...,...
159745,G0000166515,110153,301,11946.02,RMB,1.0
159746,G0000166155,110153,1293,8760.18,RMB,1.0
159747,G0000166665,110153,880,11061.06,RMB,1.0
159748,G0000166815,110153,199,884.07,RMB,1.0
159749,G0000162201,110153,896,8760.18,RMB,1.0

In [3]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159750 entries, 0 to 159749
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ORDER_ID           159750 non-null  object
 1   ORDER_TIME  (PST)  159750 non-null  object
 2   CITY_DISTRICT_ID   159750 non-null  int64
 3   RPTG_AMT           159750 non-null  float64
 4   CURRENCY_CD        159750 non-null  object
 5   ORDER_QTY          159712 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 7.3+ MB

In [4]:
# Read JSON file as DataFrame
df_json = pd.read_json(dataset2_path)

# Display the first few rows of the dataframe to understand its structure
print(df_json.head())

      ORDER_ID  ORDER_TIME_PST SHIP_TO_DISTRICT_NAME SHIP_TO_CITY_CD  \
0  G0000159216          110153                   河东区              天津
1  G0000159982          110153                   集美区              厦门
2  G0000163349          110153                   茂南区              茂名
3  G0000164476          110153                   槐荫区              济南
4  G0000166038          110153                   海城区              北海

   RPTG_AMT CURRENCY_CD  ORDER_QTY
0   7875.22         RMB          1
1  17520.35         RMB          2
2  10353.10         RMB          1
3   8760.18         RMB          1
4   7078.76         RMB          1

In [5]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40236 entries, 0 to 40235
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ORDER_ID               40236 non-null  object
 1   ORDER_TIME_PST         40236 non-null  int64
 2   SHIP_TO_DISTRICT_NAME  40236 non-null  object
 3   SHIP_TO_CITY_CD        40236 non-null  object
 4   RPTG_AMT               40236 non-null  float64
 5   CURRENCY_CD            40236 non-null  object
 6   ORDER_QTY              40236 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.1+ MB

In [6]:
# Perform an inner join on ORDER_ID
df_joined = pd.merge(df_excel, df_json, on='ORDER_ID', how='inner')
df_joined

# Dataset 1 and 2 cannot be joined, they are likely the same datasets just in different source formats.

Empty DataFrame
Columns: [ORDER_ID, ORDER_TIME  (PST), CITY_DISTRICT_ID, RPTG_AMT_x, CURRENCY_CD_x, ORDER_QTY_x, ORDER_TIME_PST, SHIP_TO_DISTRICT_NAME, SHIP_TO_CITY_CD, RPTG_AMT_y, CURRENCY_CD_y, ORDER_QTY_y]
Index: []

# Data Quality Checks

In [7]:
# Define a function to check if ORDER_QTY fullfills constraints, for INT types
def is_not_integer(value):
    try:
        int_value = int(value)
        if int_value > 0:
            return int_value != value
    except (ValueError, TypeError):
        return True

# Apply the function to the ORDER_QTY column to filter non-integer values
non_integer_count = df_json['ORDER_QTY'].apply(is_not_integer).sum()
non_integer_count_xls = df_excel['ORDER_QTY'].apply(is_not_integer).sum()

# Print the count of non-integer ORDER_QTY
print(f"Count of non-integer ORDER_QTY in df_json: {non_integer_count}")
print(f"Count of non-integer ORDER_QTY in df_excel: {non_integer_count_xls}")

Count of non-integer ORDER_QTY in df_json: 0
Count of non-integer ORDER_QTY in df_excel: 38

In [8]:
# Define a function to check if CURRENCY_CD fullfills constraints, for ENUM types

# Get unique values of CURRENCY_CD in df_excel
unique_currency_cd_excel = df_excel['CURRENCY_CD'].unique()
print("Unique values of CURRENCY_CD in df_excel:")
print(unique_currency_cd_excel)

# Get unique values of CURRENCY_CD in df_json
unique_currency_cd_json = df_json['CURRENCY_CD'].unique()
print("\nUnique values of CURRENCY_CD in df_json:")
print(unique_currency_cd_json)

# Count rows in df_excel where CURRENCY_CD is not 'RMB'
count_not_rmb_excel = df_excel[df_excel['CURRENCY_CD'] != 'RMB'].shape[0]
print(f"\nCount of rows in df_excel where CURRENCY_CD is not 'RMB': {count_not_rmb_excel}")

# Count rows in df_json where CURRENCY_CD is not 'RMB'
count_not_rmb_json = df_json[df_json['CURRENCY_CD'] != 'RMB'].shape[0]
print(f"Count of rows in df_json where CURRENCY_CD is not 'RMB': {count_not_rmb_json}")

Unique values of CURRENCY_CD in df_excel:
['RMB' 'USD']

Unique values of CURRENCY_CD in df_json:
['RMB']

Count of rows in df_excel where CURRENCY_CD is not 'RMB': 37
Count of rows in df_json where CURRENCY_CD is not 'RMB': 0

In [60]:
# Type checks for dollar amounts using floats with 2 decimals. For RPTG_AMT

# Function to check if values are floats with exactly 2 decimal places
def check_two_decimals(df, column):
    # Check if the values are numeric
    is_numeric = pd.to_numeric(df[column], errors='coerce').notnull()
    
    # Check if the values have exactly 2 decimal places
    decimal_check = df[is_numeric][column].apply(lambda x: round(x, 2) == x)
    
    # Check if the values are greater than 0
    greater_than_zero = df[decimal_check][column].apply(lambda x: x > 0)
    
    # Combine both checks
    valid_check = is_numeric & decimal_check & greater_than_zero
    
    # Count invalid values
    invalid_count = (~valid_check).sum()
    
    return invalid_count, valid_check

# Check RPTG_AMT in df_excel
invalid_count_excel, valid_check_excel = check_two_decimals(df_excel, 'RPTG_AMT')
print(f"Count of rows in df_excel where RPTG_AMT is not a float with 2 decimal places: {invalid_count_excel}")

# Check RPTG_AMT in df_json
invalid_count_json, valid_check_json = check_two_decimals(df_json, 'RPTG_AMT')
print(f"Count of rows in df_json where RPTG_AMT is not a float with 2 decimal places: {invalid_count_json}")

Count of rows in df_excel where RPTG_AMT is not a float with 2 decimal places: 0
Count of rows in df_json where RPTG_AMT is not a float with 2 decimal places: 0

In [20]:
# Type checks for CITY_DISTRICT_ID of type ENUM, check if values are within known mapping tables 

# Load the Excel file from the "CITY_DISTRICT_MAP" sheet
df_city_district_map = pd.read_excel(dataset1_path, sheet_name='CITY_DISTRICT_MAP')

# Display the first few rows of the dataframe to understand its structure
print(df_city_district_map.head())

# Print all unique values of SHIP_TO_CITY_CD
unique_city_cd = df_city_district_map['SHIP_TO_CITY_CD'].unique()
unique_city_cd_cnt = df_city_district_map['SHIP_TO_CITY_CD'].unique().shape[0]
print("\nUnique values of SHIP_TO_CITY_CD in df_city_district_map:")
print(unique_city_cd)
print("\nCount of Unique values of SHIP_TO_CITY_CD in df_city_district_map:")
print(unique_city_cd_cnt)

# Print all unique values of SHIP_TO_DISTRICT_NAME
unique_district_name = df_city_district_map['SHIP_TO_DISTRICT_NAME'].unique()
unique_district_name_cnt = df_city_district_map['SHIP_TO_DISTRICT_NAME'].unique().shape[0]
print("\nUnique values of SHIP_TO_DISTRICT_NAME in df_city_district_map:")
print(unique_district_name)
print("\nCount of Unique values of SHIP_TO_DISTRICT_NAME in df_city_district_map:")
print(unique_district_name_cnt)

   CITY_DISTRICT_ID SHIP_TO_CITY_CD SHIP_TO_DISTRICT_NAME
0                 1              厦门                   集美区
1                 2              宣城                   宣州区
2                 3              沈阳                   和平区
3                 4              合肥                   瑶海区
4                 5              扬州                   广陵区

Unique values of SHIP_TO_CITY_CD in df_city_district_map:
['厦门' '宣城' '沈阳' '合肥' '扬州' '吉安' '昆明' '上海' '佛山' '北京' '漳州' '成都' '重庆' '蚌埠'
 '广州' '镇江' '钦州' '唐山' '营口' '苏州' '海口' '湛江' '徐州' '九江' '平顶山' '铜仁' '长沙' '常州'
 '眉山' '温州' '济南' '哈尔滨' '贵阳' '西安' '衢州' '贺州' '东营' '玉林' '秦皇岛' '武汉' '长春' '无锡'
 '杭州' '连云港' '菏泽' '松原' '金华' '大同' '南通' '石家庄' '襄阳' '新乡' '晋中' '郑州' '洛阳' '丹东'
 '台州' '青岛' '曲靖' '红河哈尼族彝族自治州' '深圳' '淮北' '嘉兴' '乌鲁木齐' '天津' '双鸭山' '南京' '惠州'
 '佳木斯' '泸州' '阜阳' '保定' '泉州' '南充' '泰州' '汕头' '锦州' '淄博' '南昌' '廊坊' '鹤岗' '咸宁'
 '宁波' '凉山彝族自治州' '福州' '吉林' '宜昌' '赣州' '池州' '绵阳' '济宁' '亳州' '西宁' '葫芦岛' '文昌'
 '兴安盟' '东莞' '齐齐哈尔' '黄冈' '荆州' '抚州' '揭阳' '淮南' '芜湖' '黄石' '枣庄' '淮安' '张家口' '临沂'
 '绥化' '南宁' '盐城' '威海' '安阳' '景德镇' '安庆' '韶关' '宿迁' '湖州' '达州' '莆田' '江门' '呼和浩特'
 '潍坊' '衡阳' '中山' '鞍山' '孝感' '太原' '银川' '马鞍山' '牡丹江' '烟台' '延边朝鲜族自治州' '绍兴' '黄山'
 '河源' '萍乡' '荆门' '陇南' '伊春' '玉溪' '茂名' '梅州' '衡水' '临汾' '汉中' '宝鸡' '柳州'
 '黔西南布依族苗族自治州' '仙桃' '桂林' '十堰' '内江' '大理白族自治州' '焦作' '上饶' '长治' '百色' '宁德' '泰安'
 '延安' '包头' '邯郸' '六安' '大连' '盘锦' '株洲' '忻州' '南平' '德州' '榆林' '西双版纳傣族自治州' '辽阳'
 '宜宾' '渭南' '大庆' '阿勒泰地区' '潮州' '丽江' '遵义' '大兴安岭地区' '甘孜藏族自治州' '巴彦淖尔' '晋城' '信阳'
 '三门峡' '万宁' '阿坝藏族羌族自治州' '陵水黎族自治县' '毕节' '随州' '兰州' '阜新' '铜陵' '黑河' '怀化' '日照'
 '梧州' '保山' '攀枝花' '潜江' '承德' '资阳' '临夏回族自治州' '永州' '沧州' '龙岩' '抚顺' '南阳' '珠海'
 '雅安' '白山' '聊城' '宿州' '宜春' '咸阳' '肇庆' '商丘' '三亚' '阳泉' '铁岭' '铜川' '许昌' '三明'
 '通辽' '崇左' '广元' '鸡西' '黔南布依族苗族自治州' '巴中' '清远' '驻马店' '德宏傣族景颇族自治州' '常德' '开封'
 '滁州' '黔东南苗族侗族自治州' '呼伦贝尔' '漯河' '石嘴山' '通化' '汕尾' '新余' '拉萨' '鹰潭' '周口' '贵港'
 '乌海' '益阳' '北海' '楚雄彝族自治州' '哈密市' '吕梁' '丽水' '舟山' '湘潭' '恩施土家族苗族自治州' '邵阳' '鄂州'
 '安顺' '遂宁' '阳江' '鹤壁' '朝阳' '邢台' '濮阳' '四平' '定西' '自贡' '伊犁哈萨克自治州' '昭通' '鄂尔多斯'
 '朔州' '昆玉' '巴音郭楞蒙古自治州' '林芝' '天门' '辽源' '乐山' '娄底' '运城' '白城' '琼海' '酒泉' '郴州'
 '滨州' '迪庆藏族自治州' '岳阳' '河池' '云浮' '广安' '武威' '德阳' '七台河' '海南藏族自治州' '金昌' '喀什地区'
 '山南市' '临沧' '六盘水' '克拉玛依' '商洛' '固原' '昌吉回族自治州' '阿克苏地区' '博尔塔拉蒙古自治州' '庆阳' '平凉'
 '锡林郭勒盟' '普洱' '乌兰察布' '黄南藏族自治州' '石河子' '乐东黎族自治县' '吴忠' '日喀则' '湘西土家族苗族自治州'
 '塔城地区' '海西蒙古族藏族自治州' '本溪' '和田地区' '文山壮族苗族自治州' '来宾' '克孜勒苏柯尔克孜自治州' '中卫' '临高县'
 '赤峰' '嘉峪关' '阿拉善盟' '济源' '澄迈县' '防城港' '安康' '定安县' '那曲市' '天水' '海东' '张家界' '白银'
 '儋州' '玉树藏族自治州' '吐鲁番' '海北藏族自治州' '果洛藏族自治州' '昌都' '保亭黎族苗族自治县' '神农架林区' '五指山'
 '张掖' '琼中黎族苗族自治县' '屯昌县' '东方' '怒江傈僳族自治州' '图木舒克' '甘南藏族自治州' '北屯' '阿拉尔'
 '昌江黎族自治县' '阿里地区' '五家渠' '白沙黎族自治县']

Count of Unique values of SHIP_TO_CITY_CD in df_city_district_map:
362

Unique values of SHIP_TO_DISTRICT_NAME in df_city_district_map:
['集美区' '宣州区' '和平区' ... '全南县' '凤庆县' '曲水县']

Count of Unique values of SHIP_TO_DISTRICT_NAME in df_city_district_map:
2545

In [50]:
from autoviz.AutoViz_Class import AutoViz_Class

# Create an instance of AutoViz
AV = AutoViz_Class()

# Generate the report
df_report = AV.AutoViz(filename="",dfte=df_json)

Shape of your Data Set loaded: (40236, 10)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  1
    Number of Integer-Categorical Columns =  2
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  2
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  1
    Number of NLP String Columns =  2
    Number of Date Time Columns =  0
    Number of ID Columns =  1
    Number of Columns to Delete =  1
    10 Predictors classified...
        2 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['ORDER_ID', 'CURRENCY_CD']
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Could not draw Distribution Plot

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /Users/chanyaokuan/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

Could not draw wordcloud plot for SHIP_TO_DISTRICT_NAME
Could not draw wordcloud plot for combined_key
Could not draw wordcloud plot for SHIP_TO_CITY_CD
All Plots done
Time to run AutoViz = 9 seconds

 ###################### AUTO VISUALIZATION Completed ########################

# Translation Feature - Wikipedia Scraping Solution

In [18]:

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_cities_in_China"

# Use pandas to read the HTML tables from the page
tables = pd.read_html(url)

# Iterate through tables to find the one with the list of cities
for i, table in enumerate(tables):
    if 'Province' in table.columns and 'City' in table.columns:
        df_cities = table
        break

# Display the first few rows of the dataframe to verify
print(df_cities.head())
print(df_cities.shape[0])

        City  Chinese    Province Prefecture Founded (PRC)
0  Hong Kong  香港特别行政區  autonomous       none    1997-07-01
1      Macau  澳門特别行政區  autonomous       none    1999-12-20
2    Beijing      北京市   municipal       none    1949-10-01
3  Chongqing      重庆市   municipal       none    1997-03-14
4   Shanghai      上海市   municipal       none    1949-10-01
694

In [37]:
    # Create a function to check if a value is a substring of any entry in a column
    def is_substring(value, series):
        return any(value in str(city) for city in series)

# Remove duplicates from df_json["SHIP_TO_CITY_CD"]
df_json_unique = df_json.drop_duplicates(subset=['SHIP_TO_CITY_CD']).copy()

# Apply the function to each unique city code in df_json_unique
df_json_unique.loc[:, 'city_match'] = df_json_unique['SHIP_TO_CITY_CD'].apply(lambda x: is_substring(x, df_cities['Chinese']))

# Filter rows where city_match is False
df_json_no_match = df_json_unique[df_json_unique['city_match'] == False]
# Remove duplicates from df_city_district_map["SHIP_TO_CITY_CD"]
df_city_district_map_unique = df_city_district_map.drop_duplicates(subset=['SHIP_TO_CITY_CD']).copy()

# Apply the function to each unique city code in df_city_district_map_unique
df_city_district_map_unique.loc[:, 'city_match'] = df_city_district_map_unique['SHIP_TO_CITY_CD'].apply(lambda x: is_substring(x, df_cities['Chinese']))

# Count the number of rows where city_match is True
count_matches = df_json_unique['city_match'].sum()
count_matches_excel = df_city_district_map_unique['city_match'].sum()

# Print the counts
print(count_matches)
print(df_json_unique["SHIP_TO_CITY_CD"].unique().shape[0])

print(count_matches_excel)
print(df_city_district_map_unique["SHIP_TO_CITY_CD"].unique().shape[0])
print(df_json_no_match)

308
352
311
362
          ORDER_ID  ORDER_TIME_PST SHIP_TO_DISTRICT_NAME SHIP_TO_CITY_CD  \
88     G0000166194          110159                   松潘县       阿坝藏族羌族自治州
112    G0000167248          110200                   安图县        延边朝鲜族自治州
326    G0000145189          110216                   西昌市         凉山彝族自治州
460    G0000166068          110226                 加格达奇区          大兴安岭地区
525    G0000162911          110232                   大理市         大理白族自治州
528    G0000166673          110232                   凯里市      黔东南苗族侗族自治州
676    G0000144942          110244                 锡林浩特市           锡林郭勒盟
789    G0000163360          110252                国营山荣农场         乐东黎族自治县
791    G0000164487          110252                 乌兰浩特市             兴安盟
1144   G0000134693          110320                  呼图壁县         昌吉回族自治州
1412   G0000166686          110341                   景洪市       西双版纳傣族自治州
1614   G0000167394          110357                   康定市         甘孜藏族自治州
1689   G0000167148          110403                  吉木乃县           阿勒泰地区
1771   G0000163462          110411                   花垣县      湘西土家族苗族自治州
1879   G0000167279          110419                   瑞丽市      德宏傣族景颇族自治州
2016   G0000167968          110430                   兴义市     黔西南布依族苗族自治州
4059   G0000166861          110707                   澄迈县             澄迈县
4503   G0000169320          110739                   南华县         楚雄彝族自治州
4937   G0000170346          110810                   同仁县         黄南藏族自治州
5332   G0000163931          110839                   开远市      红河哈尼族彝族自治州
5593   G0000154107          110858                   都兰县      海西蒙古族藏族自治州
6619   G0000156494          111015                   贵南县         海南藏族自治州
8168   G0000172978          111157                   瓮安县      黔南布依族苗族自治州
8410   G0000170439          111213                  库尔勒市       巴音郭楞蒙古自治州
8558   G0000167854          111222                   喀什市            喀什地区
9072   G0000171335          111254                   临高县             临高县
9558   G0000176892          111325                   巴东县      恩施土家族苗族自治州
9630   G0000171202          111330                   屯昌县             屯昌县
9844   G0000175082          111344                   库车市           阿克苏地区
12177  G0000179413          111609                   奎屯市        伊犁哈萨克自治州
13347  G0000180699          111716                   定安县             定安县
14828  G0000177364          111841                   广河县         临夏回族自治州
16275  G0000180201          112006                   精河县       博尔塔拉蒙古自治州
16980  G0000183211          112054                   夏河县         甘南藏族自治州
19603  G0000182386          112315               门源回族自治县         海北藏族自治州
20495  G0000186766          112403                   塔城市            塔城地区
21742  G0000183753          112515               陵水黎族自治县         陵水黎族自治县
22842  G0000186346          112623               昌江黎族自治县         昌江黎族自治县
25968  G0000193850          113912                  阿图什市     克孜勒苏柯尔克孜自治州
29241  G0000198923          114138                 阿拉善左旗            阿拉善盟
34915  G0000201900          114510                   札达县            阿里地区
36117  G0000200549          114549                   文山市       文山壮族苗族自治州
36900  G0000204807          114613                   墨玉县            和田地区
39598  G0000190816          114751                   钢城区              莱芜

       RPTG_AMT CURRENCY_CD  ORDER_QTY  city_match
88      7875.22         RMB          1       False
112     8760.18         RMB          1       False
326     7963.72         RMB          1       False
460    10353.10         RMB          1       False
525    10353.10         RMB          1       False
528     7875.22         RMB          1       False
676     7875.22         RMB          1       False
789     7875.22         RMB          1       False
791     8760.18         RMB          1       False
1144    8760.18         RMB          1       False
1412    7875.22         RMB          1       False
1614    7875.22         RMB          1       False
1689    8760.18         RMB          1       False
1771    7875.22         RMB          1       False
1879    8760.18         RMB          1       False
2016    7875.22         RMB          1       False
4059    8760.18         RMB          1       False
4503    7963.72         RMB          1       False
4937    7875.22         RMB          1       False
5332    7963.72         RMB          1       False
5593    8760.18         RMB          1       False
6619    8760.18         RMB          1       False
8168    8760.18         RMB          1       False
8410    8760.18         RMB          1       False
8558     792.04         RMB          1       False
9072    8760.18         RMB          1       False
9558    7078.76         RMB          1       False
9630   10353.10         RMB          1       False
9844    8760.18         RMB          1       False
12177   7875.22         RMB          1       False
13347  10353.10         RMB          1       False
14828   8760.18         RMB          1       False
16275   8760.18         RMB          1       False
16980   8760.18         RMB          1       False
19603   8760.18         RMB          1       False
20495   8760.18         RMB          1       False
21742  10353.10         RMB          1       False
22842   7875.22         RMB          1       False
25968   7078.76         RMB          1       False
29241   7875.22         RMB          1       False
34915   7875.22         RMB          1       False
36117   7078.76         RMB          1       False
36900   8760.18         RMB          1       False
39598   6105.31         RMB          1       False

In [34]:
df_json_no_match = df_json_unique[df_json_unique['city_match'] == False]
df_json_no_match

,ORDER_ID,ORDER_TIME_PST,SHIP_TO_DISTRICT_NAME,SHIP_TO_CITY_CD,RPTG_AMT,CURRENCY_CD,ORDER_QTY,city_match
88,G0000166194,110159,松潘县,阿坝藏族羌族自治州,7875.22,RMB,1,False
112,G0000167248,110200,安图县,延边朝鲜族自治州,8760.18,RMB,1,False
326,G0000145189,110216,西昌市,凉山彝族自治州,7963.72,RMB,1,False
460,G0000166068,110226,加格达奇区,大兴安岭地区,10353.10,RMB,1,False
525,G0000162911,110232,大理市,大理白族自治州,10353.10,RMB,1,False
528,G0000166673,110232,凯里市,黔东南苗族侗族自治州,7875.22,RMB,1,False
676,G0000144942,110244,锡林浩特市,锡林郭勒盟,7875.22,RMB,1,False
789,G0000163360,110252,国营山荣农场,乐东黎族自治县,7875.22,RMB,1,False
791,G0000164487,110252,乌兰浩特市,兴安盟,8760.18,RMB,1,False
1144,G0000134693,110320,呼图壁县,昌吉回族自治州,8760.18,RMB,1,False
1412,G0000166686,110341,景洪市,西双版纳傣族自治州,7875.22,RMB,1,False
1614,G0000167394,110357,康定市,甘孜藏族自治州,7875.22,RMB,1,False
1689,G0000167148,110403,吉木乃县,阿勒泰地区,8760.18,RMB,1,False
1771,G0000163462,110411,花垣县,湘西土家族苗族自治州,7875.22,RMB,1,False
1879,G0000167279,110419,瑞丽市,德宏傣族景颇族自治州,8760.18,RMB,1,False
2016,G0000167968,110430,兴义市,黔西南布依族苗族自治州,7875.22,RMB,1,False
4059,G0000166861,110707,澄迈县,澄迈县,8760.18,RMB,1,False
4503,G0000169320,110739,南华县,楚雄彝族自治州,7963.72,RMB,1,False
4937,G0000170346,110810,同仁县,黄南藏族自治州,7875.22,RMB,1,False
5332,G0000163931,110839,开远市,红河哈尼族彝族自治州,7963.72,RMB,1,False
5593,G0000154107,110858,都兰县,海西蒙古族藏族自治州,8760.18,RMB,1,False
6619,G0000156494,111015,贵南县,海南藏族自治州,8760.18,RMB,1,False
8168,G0000172978,111157,瓮安县,黔南布依族苗族自治州,8760.18,RMB,1,False
8410,G0000170439,111213,库尔勒市,巴音郭楞蒙古自治州,8760.18,RMB,1,False
8558,G0000167854,111222,喀什市,喀什地区,792.04,RMB,1,False
9072,G0000171335,111254,临高县,临高县,8760.18,RMB,1,False
9558,G0000176892,111325,巴东县,恩施土家族苗族自治州,7078.76,RMB,1,False
9630,G0000171202,111330,屯昌县,屯昌县,10353.10,RMB,1,False
9844,G0000175082,111344,库车市,阿克苏地区,8760.18,RMB,1,False
12177,G0000179413,111609,奎屯市,伊犁哈萨克自治州,7875.22,RMB,1,False
13347,G0000180699,111716,定安县,定安县,10353.10,RMB,1,False
14828,G0000177364,111841,广河县,临夏回族自治州,8760.18,RMB,1,False
16275,G0000180201,112006,精河县,博尔塔拉蒙古自治州,8760.18,RMB,1,False
16980,G0000183211,112054,夏河县,甘南藏族自治州,8760.18,RMB,1,False
19603,G0000182386,112315,门源回族自治县,海北藏族自治州,8760.18,RMB,1,False
20495,G0000186766,112403,塔城市,塔城地区,8760.18,RMB,1,False
21742,G0000183753,112515,陵水黎族自治县,陵水黎族自治县,10353.10,RMB,1,False
22842,G0000186346,112623,昌江黎族自治县,昌江黎族自治县,7875.22,RMB,1,False
25968,G0000193850,113912,阿图什市,克孜勒苏柯尔克孜自治州,7078.76,RMB,1,False
29241,G0000198923,114138,阿拉善左旗,阿拉善盟,7875.22,RMB,1,False
34915,G0000201900,114510,札达县,阿里地区,7875.22,RMB,1,False
36117,G0000200549,114549,文山市,文山壮族苗族自治州,7078.76,RMB,1,False
36900,G0000204807,114613,墨玉县,和田地区,8760.18,RMB,1,False
39598,G0000190816,114751,钢城区,莱芜,6105.31,RMB,1,False

In [38]:
# Count rows in df_excel where CITY_DISTRICT_ID is not in df_city_district_map.CITY_DISTRICT_ID
invalid_city_district_id_count = df_excel[~df_excel['CITY_DISTRICT_ID'].isin(df_city_district_map['CITY_DISTRICT_ID'])].shape[0]

# Print the count of invalid CITY_DISTRICT_ID in df_excel
print(f"Count of rows in df_excel where CITY_DISTRICT_ID is not in df_city_district_map: {invalid_city_district_id_count}")

# Create a combined key in df_json
df_json['combined_key'] = df_json['SHIP_TO_CITY_CD'].astype(str) + '_' + df_json['SHIP_TO_DISTRICT_NAME'].astype(str)

# Create a combined key in df_city_district_map
df_city_district_map['combined_key'] = df_city_district_map['SHIP_TO_CITY_CD'].astype(str) + '_' + df_city_district_map['SHIP_TO_DISTRICT_NAME'].astype(str)

# Check if the combined keys in df_json exist in df_city_district_map
df_json['key_exists'] = df_json['combined_key'].isin(df_city_district_map['combined_key'])

# Get rows where the combined key does not exist in df_city_district_map
invalid_rows = df_json[~df_json['key_exists']]

# Print the invalid rows
print("Rows in df_json where combined SHIP_TO_CITY_CD and SHIP_TO_DISTRICT_NAME is not in df_city_district_map:")
print(invalid_rows)

Count of rows in df_excel where CITY_DISTRICT_ID is not in df_city_district_map: 37
Rows in df_json where combined SHIP_TO_CITY_CD and SHIP_TO_DISTRICT_NAME is not in df_city_district_map:
          ORDER_ID  ORDER_TIME_PST SHIP_TO_DISTRICT_NAME SHIP_TO_CITY_CD  \
88     G0000166194          110159                   松潘县       阿坝藏族羌族自治州
557    G0000167260          110234                   伊春区              伊春
719    G0000162868          110247                   延川县              延安
789    G0000163360          110252                国营山荣农场         乐东黎族自治县
1014   G0000145199          110310                   凌云县              百色
...            ...             ...                   ...             ...
39113  G0000204735          114735                   祁阳市              永州
39523  G0000205879          114748                   泸溪县      湘西土家族苗族自治州
39598  G0000190816          114751                   钢城区              莱芜
39886  G0000199129          114800                   涞源县              保定
40088  G0000177929          114807               巴马瑶族自治县              河池

       RPTG_AMT CURRENCY_CD  ORDER_QTY  city_match    combined_key  key_exists
88      7875.22         RMB          1       False   阿坝藏族羌族自治州_松潘县       False
557     8760.18         RMB          1        True          伊春_伊春区       False
719     8760.18         RMB          1        True          延安_延川县       False
789     7875.22         RMB          1       False  乐东黎族自治县_国营山荣农场       False
1014    7875.22         RMB          1        True          百色_凌云县       False
...         ...         ...        ...         ...             ...         ...
39113   8760.18         RMB          1        True          永州_祁阳市       False
39523   8760.18         RMB          1       False  湘西土家族苗族自治州_泸溪县       False
39598   6105.31         RMB          1       False          莱芜_钢城区       False
39886  10353.10         RMB          1        True          保定_涞源县       False
40088   8760.18         RMB          1        True      河池_巴马瑶族自治县       False

[124 rows x 10 columns]

In [ ]:
# Filter rows where SHIP_TO_DISTRICT_NAME is "凌云县" and SHIP_TO_CITY_CD is "百色"
filtered_rows = df_city_district_map[(df_city_district_map['SHIP_TO_DISTRICT_NAME'] == '凌云县') & 
                                     (df_city_district_map['SHIP_TO_CITY_CD'] == '百色')]

# Print the filtered rows
print("\nFiltered rows where SHIP_TO_DISTRICT_NAME is '凌云县' and SHIP_TO_CITY_CD is '百色':")
print(filtered_rows)